@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
/* RESET */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  margin: 30px;
  position: relative;
}
header .brand {
  display: flex;
  justify-content: center;
}
header .brand img {
  width: 30vw;
  min-width: 280px;
}
header .search {
  display: flex;
  align-items: center;
  background: #dddddd;
  border-radius: 4px;
}
header .search input {
  width: 100%;
  height: 40px;
  background: #dddddd;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 5px;
  height: 50px;
}
header .search label {
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
header .tagsRecipes {
  margin: 15px 0 15px 0;
  display: flex;
}
header .tagsRecipes i {
  font-size: 20px;
}
header .activeInput {
  display: block;
}
header .btnsToFilter {
  display: flex;
}
header .btnsToFilter .inputItem {
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  margin-right: 5px;
  min-width: 220px;
}
header .btnsToFilter .inputItem .input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
header .btnsToFilter .inputItem input {
  position: relative;
  border-radius: 4px;
  padding: 10px 6px;
  border: none;
  color: white;
}
header .btnsToFilter .inputItem input:focus {
  outline: none;
}
header .btnsToFilter .inputItem input::placeholder {
  color: white;
}
header .btnsToFilter .inputItem input::-ms-clear {
  display: none;
}
header .btnsToFilter .inputItem i {
  color: white;
  cursor: pointer;
  padding: 10px;
}
header .btnsToFilter .list {
  position: absolute;
  display: none;
  z-index: 99;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
header .btnsToFilter .list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 200px;
  list-style: none;
  overflow: auto;
}
header .btnsToFilter .list ul li {
  font-size: 14px;
  padding: 5px;
  font-family: lato;
  color: white;
  cursor: pointer;
}

.listIsActive {
  display: block !important;
  width: 28vw;
}

.inputIngredients {
  background: #0ca2e7;
}
.inputIngredients ul::-webkit-scrollbar {
  width: 6px;
  background-color: #0ca2e7;
}
.inputIngredients ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.452);
}

.inputAppareil {
  background: #18eb69;
}
.inputAppareil ul::-webkit-scrollbar {
  width: 6px;
  background: #18eb69;
}
.inputAppareil ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.452);
}

.inputUstensiles {
  background: #ED6454;
}
.inputUstensiles ul::-webkit-scrollbar {
  width: 6px;
  background: #ED6454;
}
.inputUstensiles ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.452);
}

.listIngredients {
  background-color: #0ca2e7;
}

.listUstensiles {
  background: #ED6454;
}

.listAppareils {
  background: #18eb69;
}

/* MAIN */
main {
  padding: 0 30px 30px 30px;
}
main .noRecipes {
  text-align: center;
  display: none;
}
main .recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
main .recipes .recipe {
  height: 400px;
}
main .recipes .recipe__img {
  background: grey;
  height: 50%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
main .recipes .recipe__content {
  display: flex;
  flex-direction: column;
  background: #d6d6d6;
  height: 50%;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
main .recipes .recipe__content .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  margin: 10px 0 20px 0;
}
main .recipes .recipe__content .title p i {
  margin-right: 0.25rem;
}
main .recipes .recipe__content .info {
  display: flex;
  font-size: 11px;
}
main .recipes .recipe__content .info .ingredients {
  width: 50%;
  font-family: "Lato", sans-serif;
}
main .recipes .recipe__content .info .ingredients ul {
  margin: 0;
  padding: 0;
}
main .recipes .recipe__content .info .ingredients ul li {
  list-style: none;
  display: flex;
}
main .recipes .recipe__content .info .ingredients ul li p {
  margin: 0;
  padding: 0;
}
main .recipes .recipe__content .info .ingredients ul li p:first-child {
  font-weight: 700;
  margin-right: 0.25rem;
}
main .recipes .recipe__content .info .desc {
  width: 50%;
  font-family: "Roboto", sans-serif;
}
main .recipes .recipe__content .info .desc p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.tagBtn {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  color: white;
}
.tagBtn i {
  margin-left: 0.25rem;
}
.tagBtn i:hover {
  color: black;
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .list ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 750px) {
  .list {
    position: inherit !important;
    width: 100%;
  }
  .list ul {
    width: inherit !important;
    min-width: none !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .btnsToFilter {
    flex-direction: column;
  }
  .btnsToFilter .inputItem {
    margin-bottom: 10px;
    width: inherit !important;
  }

  .recipes {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/*# sourceMappingURL=style.css.map */
