
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
/* RESET */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* HEADER */
header {
    margin: 30px;
  .brand {
    display: flex;
    justify-content: center;
    img{
      width: 280px;
    }
  }
  .search {
    display: flex;
    align-items: center;
    background: rgb(221, 221, 221);
    border-radius: 4px;
    input {
      width: 100%;
      height: 40px;
      background: rgb(221, 221, 221);
      border-radius: 4px;
      outline: none;
      border: none;
      padding: 15px;
    }
    label {
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
    }
  }
  .tagsIngredient{
    margin: 25px 0 0 0;
    display: flex;
  }
  .btnsToFilter {
    margin-top: 25px;
    display: flex;
 
    .inputItem{   
      border-radius: 4px;
      font-family: 'Lato', sans-serif;
      margin-right: 10px;
      .input{
        display: flex;
    
        align-items: center;
        justify-content: space-between;
        padding: 10px;
      }
      .fa-chevron-up{
        display: none;
      }
      input{
        border-radius: 4px;
        padding: 10px 6px;
        border: none;
        color: white;
        min-width: 30%;
        /* background-color: black; */
        &:focus{
          outline: none;
        }
        &::placeholder{
          color: white;  
        }
        &::-ms-clear{
          display: none;
        }
      }
      i{
       color: white;
        cursor: pointer;
      }
     
    }
  
    .list{
      padding: 0 10px 10px 10px;
      display: none;
      ul{
       
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 200px;
        /* background-color: red; */
        list-style: none;
        justify-content: space-evenly;
        overflow: auto;
        li{
          font-size: 14px;
          padding: 5px;
          font-family: lato;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
.inputIngredients{
  background: rgb(12, 162, 231);
  &:hover{
    .fa-chevron-down{
      display: none;
    }
    .fa-chevron-up{
      display: block !important;
    }
    .list{
      display: block;
    }
  }
  
}
.inputAppareil{
  background: rgb(24, 235, 105);
  &:hover{
    .list{
      display: block;
    }
  }
}
.inputUstensiles{
  background:  #ED6454;
  &:hover{
    .list{
      display: block;
    }
  }
}
/* MAIN */
main {
  padding: 30px;
  .noRecipes {
    text-align: center;
    display: none;
  }
  .recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    .recipe {
      height: 400px;
      &__img {
        background: grey;
        height: 50%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &__content {
        display: flex;
        flex-direction: column;
        background: rgb(214, 214, 214);
        height: 50%;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 800;
          font-family: 'Lato', sans-serif;
          margin: 10px 0 20px 0;
          p{
            i{
              margin-right: 0.25rem;
            }
          }
        }
        .info {
          display: flex;
          font-size: 11px;
          .ingredients {
            width: 50%;
            font-family: 'Lato', sans-serif;
            ul{
              margin: 0;
              padding: 0;
              /* background-color: blueviolet; */
              li {
                list-style: none;
                display: flex;
                p{
                  margin: 0;
                  padding: 0;
                }
                p:first-child{
                  font-weight: 700;
                  margin-right: 0.25rem;
                }
              }
            }
          }
          .desc {
            width: 50%;
            font-family: 'Roboto', sans-serif;
            p{
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 8;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}

.tagBtn{
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  color: white;
  /* background: rgb(12, 162, 231); */
  i{
    margin-left: 00.25rem;
    &:hover{
      color: black;
      transform: scale(1.1);
    }
  }
}


@media screen and (max-width: 900px) {
  .recipes{
 /*    background-color: rgb(86, 226, 43); */
  /*   display: grid; */
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 750px) {
  .btnsToFilter{
    flex-direction: column;
    .inputItem{
      margin: 10px;
    }
  }
  .recipes{
/*     background-color: blueviolet; */
  /*   display: grid; */
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
